body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

/*login*/
.login{
    max-width: 640px;
    margin: auto;
    background-color: #F23867;
    color: white;

    text-align: center;
    padding: 100px 0px;
}
.login > a{
    color: black;
}
.login > img{
    width: 300px;
}
/*button input*/
input[type=text], input[type=password]{
    border: none;
    background-color: white;
    border-bottom: 2px solid white;
    border-radius: 25px;
    margin: 10px;
    padding: 10px 20px;
    color: black;
}
input[type=submit]{
    font-size: 18px;
    width: 100px;
    margin: 10px;

    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: #002C4F;
    padding: 5px;
    color:  white;
}
input[type=submit]:hover{
    text-decoration: none;
    border: none;
    background-color: white;
    color: #002C4F;
}
.btn-pink{
    font-size: 18px;    width: 150px;    margin: auto; margin-top: 10px;

    text-decoration: none;    text-align: center;    border-radius: 30px;    border: none;
    background-color: #F23867;    padding: 10px 15px;    color:  white;
}
.btn-pink:hover{
    text-decoration: none;    border: none;
    background-color: #002C4F;    color: white;
}


/*sidebar*/
.sidebar{
    position: fixed; left: 0; top: 0;
    height: 100%; width: 250px;
    background-color: #002C4F; color: white;
    padding: 0px; padding-bottom: 20px;
    display: flex; flex-direction: column; justify-content: center;
}
.sidebar-profile{
    height: 200px; width: 100%; padding: 30px;
    display: flex; flex-direction: column; justify-content: center;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.sidebar > img{
    width: 100px; height: auto;
    align-self: center; opacity: 25%;
}
.sidebar-profile > img{
    align-self: center;
    width: 150px; height: auto;
}
.sidebar-menu{
    display: flex; flex-direction: column; justify-content: flex-start;
    height: 500px;
}
.sidebar-menu-btn{
    display: flex; flex-direction: row; justify-content: flex-start;
    width: 100%; padding: 10px 15px;
    border-bottom: 1px solid lightgray;
}
.sidebar-menu-btn:hover{
    background-color: #F23867;
}
.sidebar-menu-btn > img{
    height: 20px; width: auto;
}
.sidebar-menu-btn > a{
    padding: 0px 5px; text-decoration: none;
    color: white;
}
@media only screen and (max-width: 960px){
    .sidebar, .sidebar-menu, .sidebar-menu-btn, .sidebar-profile{
        display: none;
    }
}

/*home*/
.container{
    width: 100%;
    padding-left: 260px;  padding-bottom: 25px;
}
.home{
    width: 100%; padding-top: 20px;
    display: flex; flex-direction: column; justify-content: center;
    text-align: center;
}
.home > img{
    width: 250px; height: auto;
}
.covid-case{
    padding: 20px; width: 100%;
    display: flex; flex-direction: row; justify-content: center; padding-left: 0px;
}
.covid-case-box{
    display: flex; flex-direction: column; justify-content: center; text-align: center;
    border-radius: 10px; height: 100px; width: 200px; margin: 20px; color: white;
}
.home-article{
    width: 90%; max-height: 500px; border-radius: 20px; margin: auto;
    background-color: white; box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.1);
    display: flex; flex-direction: column; justify-content: center;
    padding: 10px;
}
.home-article-img{
    display: flex; flex-direction: column; justify-content: center;
    width: 100%; height: 100%;
}
.home-article-img > img{
    max-width: 100%; max-height: 100%; border-radius: 20px;
    display: block;
}
@media only screen and (max-width: 960px){
    .container{
        padding-left: 0px; padding-bottom: 75px;
    }
    .home{
        display: flex; flex-direction: column; justify-content: center;
        padding-left: 0px; width: 100%;
    }
    .home > img, .home > h2{
        margin: auto;
    }
    .home-article{
        align-self: center; margin: auto;
        min-height: 250px;
    }
    .covid-case{
        width: 80%;
        display: flex; flex-direction: row; justify-content: center;
        margin: auto;  margin-left: auto; text-align: center;
    }
    .covid-case-box{
        display: flex; flex-direction: column; justify-content: center;
        min-width: 110px; min-height: 100px; text-align: center;
    }
    .covid-case-box > h1{
        font-size: 24px;
    }
}

/*track*/
.track-history{
    display: flex; flex-direction: column; justify-content: center;
    align-self: center;
    width: 90%; max-width: 800px; padding-top: 30px;
}
.track-history-box{
    width: 100%;    background-color: white; height: auto;
    border-radius: 10px; padding: 10px; margin: 20px 0px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.05);
    display: flex; flex-direction: column; justify-content: flex-start;
}
.track-history-box > img{
    max-width: 100%; max-height: 100%; margin: auto;
}

/*content*/
.content{
    display: flex; flex-direction: column; justify-content: center;
    width: 100%; text-align: center;
}
.img{
    width:360px; height: auto; margin: auto;
}
@media only screen and (max-width: 960px){
    .img{
        width: 200px;
    }
}
/*profile*/
.collapsible {
    background-color: #F23867;    color: white;
    cursor: pointer;    padding: 18px;
    width: 100%;    border: none;
    text-align: left;    outline: none;
    font-size: 24px;
}
  
.active, .collapsible:hover {
    background-color: #002C4F;
}
  
.collapse-content {
    padding: 0 18px;    max-height: 0;
    overflow: hidden;    transition: max-height 0.2s ease-out;
}


/*footer - menu*/
.footer{
    display: none;
}
@media only screen and (max-width: 960px){
    .footer{
        position: fixed;   margin: auto;
        left: 0;   bottom: 0;
        width: 100%;
        background-color: #002C4F;   color: white;

        display: flex;   flex-direction: row;   justify-content: space-between;
        padding: 10px 50px;

        border-bottom: 2px solid lightgray;
    }
}
